img {
    width: 10rem;
}

p {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    padding: 0;
    margin: 0;
}

.price {
    font-weight: 400;
}

.all-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}