img {
    width: var(--product-image-side-length);
}

p {
    font-size: var(--product-text-font-size);
    font-weight: 600;
    color: #000;
    padding: 0;
    margin: 0;
}

.price {
    font-weight: 400;
}

.all-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.product-info {
    background-color: var(--product-bg-color);
    padding: var(--product-card-padding);
    margin: var(--product-card-margin);
    width: var(--product-card-width);
    height: var(--product-card-height);
}

.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-message {
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: var(--product-text-font-size);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    align-self: center;
}